:root{
    --teal: #006d77;
    --blue: #0077B6;
    --black: #000814;
    --pink: hsl(346, 84%, 61%);
    --orange: #ff6700;
    --grey: #d9dcd6;
    --yellow:#fec601;
    --skyblue: #00a8e8;
    --white: #edf6f9;
    --violet: #7b2cbf;
    --light-grey: #c8b6ff;

}